@import url("https://fonts.google.com/?stroke=Serif");

body{
  background-color: black;
  position: fixed;
  width: 100%;
  height: 100%;

}
.section{
  display: flex;
  flex-direction: row;
}

#contenedorImagen{
  width: 70%;
}

.contenedorDatos{
  padding: 20px;
  width: 30%;
  background-color: rgba(128, 128, 128, 0.884);
  height: 100vh;  
  
  #titulo{
    text-transform: uppercase;
    font-size: 4em;
    font-family: 'Roboto', sans-serif;
  }

  #descripcion{
    font-family: 'Onest', sans-serif;
    font-size: 2em;
  }

  #precio{
    font-family: 'Roboto', sans-serif;
    font-size: 1.5em;
  }
}

h4{
  padding-right: 50px;
}

.contenedorDatos img{
  position: fixed;
  bottom: 0;
  right: 2em;
  width: 25%;
  height: 25%;
}
